h1 {
    text-align: center;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.cycle {
    height: 50px;
    width: 500px;
    background-color: #555555;
}

#startButtonDiv {
    float: right;
    width: 20vw;
    height: 15vh;
    display: block;
}

#settingsWrapper {
    float: left;
    width: 25vw;
    height: 15vh;
}

#settingsDiv {
    float: left;
    width: 100%;
}

.beatWrapper {
    margin-top: 5px;
    margin-left: 5px;
}

h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#outputDiv {
    float: right;
    display: block;
    top: 50%;
    clear: right;
    width: 20vw;
    height: 50vh;
    overflow: auto;
    border: 1px solid black;
}