body {
    background-color: #323232;
    color: #c1c1c1;
    font-family: 'Courier New', 'Courier New', Courier, monospace;
    font-size: 1em;
}

input {
    background-color: #323232;
    color: #c1c1c1;
    border: none;
    width: 3em;
    font-size: 1em;
}

h1 {
    text-align: center;
}

.cycle {
    height: 50px;
    width: 500px;
    background-color: #555555;
}

#startButtonDiv {
    float: right;
    width: 24.5vw;
    height: 10vh;
    display: block;
    margin-bottom: 5vh;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 5px;
}

#settingsWrapper {
    float: left;
    width: 69.5vw;
    height: 10vh;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 5px;
}

#settingsDiv {
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#bigWrapper {
    position: relative;
    display: block;
}

.beatWrapper {
    margin-top: 5px;
    margin-left: 5px;
}

h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#linesBoxWrapper {
    position: absolute;
}

#beatLineWrappersWrapper {
    width: 95%
}

.beatLineWrapper + .beatLineWrapper {
    margin-top: 45px;
}

.beatLineWrapper {
    position: relative;
    margin: 5px;
    height: 20px;
}

.beatLine {
    position: absolute;
    width: 100%;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
}

.beatDot {
    position: absolute;
    display: flex;
    transform: translateY(40%);
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

#linesBox {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 70vw;
    height: 50vh;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    overflow: auto;
}

#outputDiv {
    float: right;
    display: block;
    top: 50%;
    clear: right;
    width: 25vw;
    height: 50vh;
    overflow: auto;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

#importExportWrapper {
    float: right;
}

#editWrapper {
    position: absolute;
    bottom: 0;
    padding: 5px;
    border: 1px solid #dbdbdb;
    border-top-left-radius: 5px;
    border-bottom-style: hidden;
    width: 90%;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.editButton {
    width: 20%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input [type="number"] {
    -moz-appearance: textfield !important;
}

input:read-only {
    border: 0;
    padding: 0;
    outline: none;
}